# --- Fichiers de compilation (Poubelle) ---
*.o
*.obj
*.out
*.exe
*.dll
*.so
*.dylib

# --- Dossiers de build (Si tu utilises CMake ou Make) ---
build/
bin/
dist/
Debug/
Release/

# --- Fichiers temporaires de l'éditeur (VS Code, CLion, Mac...) ---
.vscode/
.idea/
*.swp
.DS_Store

# --- Autres ---
*.log